<div class="fix-header fix-sidebar">
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <b><img src="./assets/logo.png" alt="homepage" class="dark-logo" /></b>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0"></ul>
                    <ul class="navbar-nav my-lg-0" style="float:right;">
                        <li class="nav-item">
                            <img src="./assets/scalene-logo.png" style="width: 130px;">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="navbar top-navbar navbar-expand-md navbar-light" style="padding: 4px 10px 0px;">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="action-li">
                                <a routerLink="home">
                                    <h5 class="text-primary menu-font">Home</h5> 
                                </a>
                            </li>
                            <li class="action-li">
                                <a routerLink="admin">
                                    <h5 class="text-primary menu-font">Admin</h5> 
                                </a>
                            </li>
                            <!-- <li class="action-li nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5 class="text-primary menu-font">Admin</h5></a>
                                <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                    <ul class="dropdown-user">
                                        <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                        <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                        <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                        <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
        <footer>
            <div class="footerr">
                <p>©&nbsp;Scalene Works</p>
            </div>
        </footer>
    </div>
</div>
<!--  -->