<div class="modal-header">
        <h5 class="modal-title">
            Edit Course
        </h5>
    </div>
    <div class="modal-body">
        <div class="form-horizontal form-group">
              
            <div class="row p-b-10">
                <label class="control-label col-sm-3">Full Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="course.fullName">
                </div>
            </div>
            <div class="row p-b-10">
                <label class="control-label col-sm-3">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="course.name">
                </div>
            </div>
            <!-- <div class="row p-b-10">
                <label class="control-label col-sm-3">IS Active</label>
                <div class="col-sm-6">
                    <label class="checkboxFive checkboxorg">                       
                        <input type="checkbox" [(ngModel)]="status.isActive" (change)="checkEvent($event)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div> -->
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer clearfix">
        <button type="button" class="btn schedule-footer btn-success" (click)="save()">
            Save <img src="./assets/save.png">
        </button>
        <button type="button" class="btn schedule-footer btn-danger" (click)="onClose()">
            Close <img src="./assets/delete.png">
        </button>
    </div>