<div class="fixed-action-btn" style="bottom: 14px; right: 24px;">
    <a class="btn-floating btn-lg purple-gradient" (click)="addOrganization()">
        <i class="fa fa-plus"></i>
    </a>
</div>
<div class="fixed-action-btn" style="bottom: 67px; right: 24px;">
    <a class="btn-floating btn-lg peach-gradient btn-p-l" routerLink="/admin">
        <i class="fa fa-reply"></i>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="c-body">
            <div class="c-head">Contact</div>
            <div class="c-b">
                <div class="pull-right">
                    <div class="btn-group">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="inner-addon right-addon">
                                    <img class="glyphicon" src="./assets/search-header.png">
                                    <input id="searchinput" type="search" class="table-input form-control" placeholder="SEARCH">
                                </div>
                            </div>
                        </div>  
                    </div> 
                </div>
                <table class="table1 table-bordered">
                    <thead>
                        <tr>
                            <th><span class="drill-header">Name</span></th>
                            <th><span class="drill-header">Phone Number</span></th>
                            <th><span class="drill-header">Email ID</span></th>
                            <th><span class="drill-header">Organization</span></th>
                            <th><span class="drill-header">Role</span></th>
                            
                            <th><span class="drill-header">Action</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | filter : ['phoneNumber' ,'contactName','emailId','organizationName','roleName']: iFilter | paginate: { itemsPerPage: [number], currentPage: p }">  
                            <td>{{item.contactName}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>{{item.emailId}}</td>
                            <td>{{item.organizationName}}</td>
                            <td>{{item.roleName}}</td>
                            
                            <td>
                                <button class="btn btn-round btn-green" (click)="editOrganization(item)" ><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-round btn-red" (click)="openModal2(template2,item)"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-offset-8 col-sm-4" style="text-align: right;">
                    <pagination-controls (pageChange)="pageChanged($event)" [autoHide]="true"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- delete Status template -->
<ng-template #template2>
    <app-delete-contact [contact]="contact" (close)="onClose()"></app-delete-contact>
</ng-template>